

body{
    background-color:#696969;
    color:white;
    
}

header{
    width:100%;
    padding:10px;
    margin:10px;
    float:none;
    background-color:#404040;
    text-align:center;
    
}


#topLow{
    padding-top:15px;
    padding-bottom:15px;
    margin-top:15xp;
    margin-bottom:15px;
    background-color:#404040;
    border-style:solid;
    border-width:3px;
    border-color:white;
    border-radius:8px;
}

#main{
    overflow:hidden;
}
aside{
    margin:10px;
    background-color:#404040;
    width:20%;
    float:left;
    text-align:center;
}

main{
    margin:10px;
    width:70%;
    float:left;
    text-align:center;
}

.article{
    background-color:#404040;
}

.postBox{
    padding-top:15px;
    padding-bottom:15px;
    margin-top:15xp;
    margin-bottom:15px;
    background-color:#404040;
    border-style:solid;
    border-width:3px;
    border-color:white;
    border-radius:8px;
}
.artFoot{
    overflow:hidden;
}
.date{
    float:left;
    width:40%;
}
.subreddit{
    float:right;
    width:40%
}

.artImg{
   
    
    
}
