

body{
    background-color:#696969;
    color:white;
    
}

header{
    width:100%;
    padding:10px;
    margin:10px;
    float:none;
    background-color:#404040;
    text-align:center;
    
}


#main{
    overflow:hidden;
}
aside{
    margin:10px;
    background-color:#404040;
    width:20%;
    float:left;
    text-align:center;
}

main{
    margin:10px;
    width:74%;
    float:left;
    text-align:center;
}

.article{
    background-color:#404040;
}
